<div class="col-md-5 col-sm-12 col-xs-12 leftBanner-background img-rounded"></div>
<div class="clearfix visible-sm"></div>
<div class="col-md-5 col-sm-12  col-xs-12 rightContainer">
<div class="mobile_view">
	<h3 class="text-primary marginBM0">What's next?</h3>
	<small>Health goth quinoa kickstarter cornhole</small>
	<div class="spacer30"></div>

	<ul class="list-group col-xs-8" id="backgrounds">
		<li class="list-group-item" ng-click="addWorkExperience()"> 
			<span class="glyphicon glyphicon-lock"></span> &nbsp;&nbsp; Add Work Experience <span class="pull-right glyphicon glyphicon-chevron-right"></span>
		</li>
		<li class="list-group-item" ng-click="addEducations()"> 
			<span class="glyphicon glyphicon-education"></span> &nbsp;&nbsp; Add Education  <span class="pull-right glyphicon glyphicon-chevron-right"></span>
		</li>
		<li class="list-group-item" ng-click="addFriend()"> 
			<span class="glyphicon glyphicon-user"></span> &nbsp;&nbsp; Invite Friends  <span class="pull-right glyphicon glyphicon-chevron-right"></span>
		</li>
	</ul>

	<div class="spacer30"></div>
	<div class="clearfix"></div>

	<a ui-sref="dashboard" class="text-primary">Go to your dashboard</a>
</div>
</div> 