<div class="col-md-5 col-sm-12 col-xs-12 leftBanner-education  img-rounded"></div>
<div class="clearfix visible-sm"></div>
<div class="col-md-5 col-sm-12  col-xs-12 rightblock">
	<div class="mobile_view">
			<h3 class="text-primary marginBM0">Education Experience</h3>
			<small>Health goth quinoa kickstarter cornhole</small>
			<div class="spacer30"></div>

			<form name="educationform" ng-submit="submiteducation(educationform.$valid)" novalidate>
				<div class="form-group" ng-class="{'text-danger has-error' : (educationform.schoolname.$invalid && educationform.$submitted) || (educationform.schoolname.$invalid && educationform.schoolname.$dirty) }">
					<label>School Name</label>
					<input type="text" name="schoolname" class="form-control" ng-model="formData.schoolname" required>
					<div ng-class="{'has-error':(educationform.$submitted || educationform.schoolname.$dirty)}" ng-show="educationform.$submitted || educationform.schoolname.$dirty">
						<label ng-show="educationform.schoolname.$error.required">This is mandatory</label>
					</div>
				</div>
				<div class="form-group" ng-class="{'text-danger has-error' : (educationform.study.$invalid && educationform.$submitted) || (educationform.study.$invalid && educationform.study.$dirty) }">
					<label>Field of Study</label>
					<input type="text" name="study" class="form-control" ng-model="formData.study" required>
					<div ng-class="{'has-error':(educationform.$submitted || educationform.study.$dirty)}" ng-show="educationform.$submitted || educationform.study.$dirty">
						<label ng-show="educationform.study.$error.required">This is mandatory</label>
					</div>
				</div>
				<div class="form-group" ng-class="{'text-danger has-error' : (educationform.graduation.$invalid && educationform.$submitted) || (educationform.graduation.$invalid && educationform.graduation.$dirty) }">
					<label>Graduation Year</label>
					<input type="text" name="graduation" class="form-control" ng-model="formData.graduation" required>
					<div ng-class="{'has-error':(educationform.$submitted || educationform.graduation.$dirty)}" ng-show="educationform.$submitted || educationform.graduation.$dirty">
						<label ng-show="educationform.graduation.$error.required">This is mandatory</label>
					</div>
				</div>
				<button class="btn btn-primary" type="submit" ng-disabled="educationform.$invalid">Next</button>
			</form>
	</div>
</div>